# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Temps
*.tmp

# Project-specific
/outputs/
!/outputs/.gitkeep
/data/
!src/data/
*.pt
*.pth
*.ckpt

# VS Code
.vscode/

# Windows / OS
Thumbs.db
.DS_Store
