[project]
name = "rectangles"
version = "0.1.0"
requires-python = ">=3.10"
dependencies = [
    "torch",
    "torchvision",
    "tqdm",
    "numpy",
    "matplotlib",
    "pyyaml",
]

[tool.ruff]
line-length = 120
