# configs/det/default_custom.yaml

# Uses Custom Anchors

seed: 1337
device: cuda
out_dir: outputs/det/default_custom

data:
  root: /pitsec_sose2025_team3_1/data/sized_rectangles_unfilled

model:
  num_classes: 2
  local_backbone_weights: weights/resnet50-0676ba61.pth
  anchor_sizes: [[16], [32], [64], [128], [256]]
  anchor_aspect_ratios:
    - [0.5, 1.0, 2.0]
    - [0.5, 1.0, 2.0]
    - [0.5, 1.0, 2.0]
    - [0.5, 1.0, 2.0]
    - [0.5, 1.0, 2.0]

train:
  epochs: 100
  batch_size: 32
  num_workers: 16
  lr: 0.02
  weight_decay: 0.0005
  optimizer: sgd
  scheduler:
    name: step
    step_size: 30
    gamma: 0.1
  amp: true
  log_every: 50
  grad_clip: 1.0

eval:
  run_during_train: true
  batch_size: 16
  num_workers: 16

early_stopping:
  monitor: ap50_global
