# configs/det/test_custom.yaml

# Uses Custom Anchors

seed: 1337
device: cuda
out_dir: outputs/det/test_custom

data:
  root: /pitsec_sose2025_team3_1/data/sized_squares_filled
  limit_per_split: 3000

model:
  num_classes: 2
  local_backbone_weights: weights/resnet50-0676ba61.pth
  anchor_sizes: [[16], [32], [64], [128], [256]]
  anchor_aspect_ratios:
    - [0.5, 1.0, 2.0]
    - [0.5, 1.0, 2.0]
    - [0.5, 1.0, 2.0]
    - [0.5, 1.0, 2.0]
    - [0.5, 1.0, 2.0]

train:
  epochs: 10
  batch_size: 8
  num_workers: 2
  lr: 0.005
  weight_decay: 0.0005
  optimizer: sgd
  scheduler:
    name: step
    step_size: 5
    gamma: 0.1
  amp: true
  log_every: 50
  grad_clip: 1.0

eval:
  run_during_train: true
  batch_size: 4
  num_workers: 4

early_stopping:
  monitor: ap50_global
